<div class="background">
  <div class="gradient">
    <div class="container">
      <h1 class="blank">d </h1>

      <div class="get-started">
        <h1 class="hi">Hi, I'm Justin</h1>
        <h1 class="message">Check out my resume or some of my example projects. I'd love to hear what you think</h1>
        <div class="actions">
          <a mat-raised-button class="actions-main" color="accent" routerLink="../Resume" [ngClass]="routeAnimationsElements">
            My Resume
          </a>
          <a mat-raised-button class="actions-main" color="warn" routerLink="../Examples" [ngClass]="routeAnimationsElements">
            Some Angular Applets
          </a>
          <h2></h2>
          <h2>Try the website out for yourself:</h2>
          <code>git clone
            TODO
            new-project
          </code>
          <br>
          <code>cd new-project</code>
          <br>
          <code>npm install</code>
          <br>
          <code>npm start</code>
        </div>
      </div>
    </div>
  </div>