<title>{{title}}</title>
<div class="container">
    <div class="background">


      <div class="get-started">
        <!--<h1 class="hi">Hi, I'm Justin</h1>-->
        <h1 class="hi">Welcome</h1>
        <div class="actions">
          <a mat-raised-button class="actions-main" color="accent" routerLink="../Resume" [ngClass]="routeAnimationsElements">
            My Resume
          </a>
          <a mat-raised-button class="actions-main" color="warn" routerLink="../Examples" [ngClass]="routeAnimationsElements">
            Some Angular Applets
          </a>
          <div class="sample-title">
          <h2>Try the website out for yourself:</h2>
        </div>
          <code>git clone
            https://github.com/JustinOkeefe/personal-website.git  
          </code>
          <br>
          <code>cd new-project</code>
          <br>
          <code>npm install</code>
          <br>
          <code>npm start</code>
        </div>
      </div>
  </div>