
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
  }
  mat-sidenav {
    width: 250px;
  }

  .name {
    font-size: 1.5em;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
  }
  
  .maindiv {
    min-height: 100vh;
  }
  
  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    
  }
  
  .site{
    display: flex;
    flex-direction: column;
    min-height: 94vh;
  }
  
  .content{
    flex: 1;
  }
  
  .sidenav-container {
    flex: 1;
  }
  .wrapper {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    overflow-x: hidden;
  
    .content {
      position: relative;
      flex: 1 0 auto;
    }
  }
