
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card-intro" >
          <mat-card-title>Personal Statement</mat-card-title>
        <p>I have over 6 years of experience within the biotech industry comprised of diverse roles with increasing responsibility. Throughout my career, I have developed a passion for data, visualizations, and creating cool software. </p> 
      
          <a mat-raised-button class="actions-main" color="accent" href="mailto:just.okeefe@gmail.com">
            Contact Me
          </a>
      </mat-card>
    </div>
  </div>

  <div class="container">
    <mat-card>
        <mat-card-title>Skills</mat-card-title>
	<div fxLayout="row" fxLayout.xs="column">
      <mat-card class="lists"fxFlex="33%;" fxFlex.xs="40%">
          <mat-card-subtitle>Hard</mat-card-subtitle>
          <mat-list>
            <mat-list-item>Angular, JavaScript, HTML5/CSS/etc </mat-list-item>
            <mat-list-item>SQL Server, NoSQL</mat-list-item>
            <mat-list-item>Python, some R</mat-list-item>
          </mat-list>
      </mat-card>
      <mat-card fxFlex="33%;" fxFlex.xs="40%">
          <mat-list>
              <mat-card-subtitle>Tools/Software</mat-card-subtitle>
              <mat-list-item>Git, SQL Server Management Studio</mat-list-item>
              <mat-list-item>PAS (DeltaV Suite), MES (Emerson Syncade)</mat-list-item>
              <mat-list-item>Trackwise, LIMS, Maximo, SAP</mat-list-item>
              <mat-list-item>Spotfire, some Tableau</mat-list-item>
            </mat-list>
      </mat-card>
      <mat-card fxFlex="33%;" fxFlex.xs="40%">
          <mat-list>
            <mat-card-subtitle>Soft</mat-card-subtitle>
            <mat-list-item>Quality Risk Management</mat-list-item>
            <mat-list-item>Analytical thinking</mat-list-item>
            <mat-list-item>Communication</mat-list-item>
            <mat-list-item>Ability to train end users</mat-list-item>
            <mat-list-item>Story telling through design</mat-list-item>
          </mat-list>
      </mat-card>
    </div>
  </mat-card>
  </div>

<div class="container">
    <mat-card class="card-resume">
  <div fxLayout="row" LayoutAlign="center center" class="content">
    
      <mat-vertical-stepper #stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>work_outline</mat-icon>
        </ng-template>
        <mat-step label="Business Intelligence and Data Services">
          <p class="title">Associate Engineer</p>
          <p class="company">Bristol-Myers Squibb. Devens, Massachusetts</p>
          <i class="dates">Current Role</i>
          <ul class="duties">
            <li>
              Drive performance and value through the creation of custom analytics and the configuration of reports and visualizations
              at highly integrated biologics manufacturing site.
            </li>
            <li>
              Develop full stack, RESTful web applications (mostly with
              <b>Angular</b> and
              <b>Node</b>, though I've worked with <b>C#/WebAPI</b>) to enhance and streamline business processes under the auspices of cGMP requirements.
            </li>
            <li>
              Compose ad-hoc queries, stored procedures, etc... in dense production databases using MS SQL Server Management studio.
            </li>
            <li>
              Perform maintenance, upgrades, and database migrations as required on analytics platforms (e.g.
              <b>OSIsoft PI</b> and
              <b>SIMCA</b>) and production MES software.
            </li>
            <li>
                Deliver complex, custom <b>Spotfire</b> visualizations from heterogeneous data sources used for reporting site data across multiple tiers.
            </li>
            <li>
                Develop custom DeltaV and Syncade database reports for multiple business units, either written in <b>SQL/XML/XSLT/HTML</b> using InfoBatch reporting engine, or via Crystal Reports.
            </li>
            <li>
                Regularly use <b>Python</b> for a variety of scripting and analytics purposes (e.g. LDA for topic analysis of electronic batch record exception data).
              </li>
          </ul>
          <div>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-step>
        <mat-step label="Quality Assurance, Clinical Operations">
          <p class="title">Quality Assurance Lead</p>
          <p class="company"> Bristol-Myers Squibb. Devens, Massachusetts</p>
          <i class="dates">From October 2016 to April 2018</i>
          <ul class="duties">
            <li>
              Field quality floor support lead during start-up and operational phases of single-use biologics clinical manufacturing facility.
            </li>
            <li>
              Enacted
              <b>risk-based</b> approach to batch record review process which directly contributed to a 63% reduction in overall
              executed batch record review cycle time between manufacturing and QA teams.
            </li>
            <li>
              Administrated site QA walkthrough program for weekly and quarterly inspections of manufacturing, utilities, cryo-storage,
              and warehouse facilities. Scheduled inspections and created KPI dashboard for monitoring program health.
            </li>
            <li>
              Built metrics and custom <b>Spotfire</b> visualizations for KPI reporting across multiple tiers of QA and manufacturing business units
              </li>
            <li>
              Provided review and approval of investigations and task records via Trackwise as Quality Lead Coordinator. Occasionally acted
              as lead investigator; performed root cause analysis and drove excellence through
              <b>CAPA</b>.
            </li>
            <li>
              Reviewed and approved executed paper batch records utilizing variety of systems including
              <b>DeltaV, Syncade, SAP, Trackewise</b>.
            </li>
          </ul>
          <div>
            <button mat-button matStepperPrevious color="accent">Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-step>
        <mat-step label="Quality Assurance, Commercial Operations">
          <p class="title">Quality Assurance Lead</p>
          <p class="company"> Bristol-Myers Squibb. Devens, Massachusetts</p>
          <i class="dates">From October 2014 to April 2016</i>
          <ul class="duties">
            <li>
              2nd shift field quality floor support lead for highly automated, large scale bulk biologics manufacturing facility.
            </li>
            <li>
              Performed complex elecronic manufacturing batch record and exception report reviews in support of product release.
            </li>
            <li>
              Oversaw labeling, packaging, and shipping of final bulk drug substance material; utilized
              <b>SAP</b> to execute disposition transactions.
            </li>
            <li>
              Provided direct floor coverage in GMP manufacturing areas, yielded collaborative resolutions to complex situations.
            </li>
          </ul>
          <div>
            <button mat-button matStepperPrevious color="accent">Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-step>
        <mat-step label="Commercial Drug Manufacturing">
          <p class="title">Sr. Bioprocess Associate</p>
          <p class="company"> Bristol-Myers Squibb. Devens, Massachusetts</p>
          <i class="dates">From October 2012 to April 2014</i>
          <ul class="duties">
            <li>
              Provided careful oversight of downstream processes including buffer preparation, chromatography, column packing, UFDF, and
              final fill operations in large scale biologics manufacturing facility in accordance with key performance metrics
              and cGMP standards.
            </li>
            <li>
              Authored, revised, and reviewed SOPs applicable to purification and process support areas. </li>
            <li>
              Routinely executed electronic work instructions and SOPs as well as real-time process monitoring to ensure right first time
              adherence.
            </li>
          </ul>
          <div>
            <button mat-button matStepperPrevious color="accent">Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-step>
        <mat-step label="Manufacturing Sciences and Technology">
          <p class="title">Co-op</p>
          <p class="company"> Bristol-Myers Squibb. Devens, Massachusetts</p>
          <i class="dates">From January 2010 to August 2010</i>
          <ul class="duties">
            <li>
              Worked within a highly cross functional group responsible for upstream and downstream manufacturing support.
            </li>
            <li>
              Operated small scale bioreactors in parallel with initial runs of production scale reactors for the purposes of troubleshooting
              potential full scale out-of-trend performances during development campaign in facility start-up stage.
            </li>
            <li>
              Authored a wide range of technical documentation to support both manufacturing and PV requirements.
            </li>
          </ul>
          <div>
            <button mat-button matStepperPrevious color="accent">Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </mat-step>
        <mat-step label="Education">
          <p class="college">University of Massachusetts, Amherst</p>
          <p class="degree"> B.S. Chemical Engineering</p>
          <div>
            <button mat-button matStepperPrevious color="accent">Back</button>
            <button mat-button color="primary" (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    </mat-card>
  
</div>