.card {
    min-width: 80%;
    padding: 10px;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
  }
  
  
  a {
    cursor: pointer;
  }

.padding {
    size: 10px;
}

li, {
    line-height: 1.5;
  }

  p {
    line-height: 1.0;
  }
.title, .college{
    font-weight: bold;
    font-size: 1.3em
}

.company, .degree{
    font-size: 1.0em;
}

.dates {
    font-size: 0.8em;
} 
/*
.duties {

}

*/