

  mat-card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .card-intro {
    text-align: center;
  }

  mat-card-subtitle  {
    text-align: center;
  }

  mat-card-title {
    text-align: center;
  }

  mat-list mat-list-item {
    height: auto !important; /* To avoid calculated height from mat-line-x classes */
    padding: 7px;
  }

   .container {
     padding: 10px;
   }
  
  a {
    cursor: pointer;
  }

.padding {
    size: 10px;
}

li, {
    line-height: 1.5;
  }

  p {
    line-height: 1.0;
  }
.title, .college{
    font-weight: bold;
    font-size: 1.3em
}

.company, .degree{
    font-size: 1.0em;
}

.dates {
    font-size: 0.8em;
} 
/*
.duties {

}

*/
